<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.hotel.dao.HotelMapper">
  <resultMap id="BaseResultMap" type="com.xxxx.hotel.vo.Hotel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="lon" jdbcType="REAL" property="lon" />
    <result column="lat" jdbcType="REAL" property="lat" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, lon, lat
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hotel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hotel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xxxx.hotel.vo.Hotel">
    insert into hotel (id, name, lon, lat
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{lon,jdbcType=REAL}, #{lat,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xxxx.hotel.vo.Hotel">
    insert into hotel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="lon != null">
        lon,
      </if>
      <if test="lat != null">
        lat,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="lon != null">
        #{lon,jdbcType=REAL},
      </if>
      <if test="lat != null">
        #{lat,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xxxx.hotel.vo.Hotel">
    update hotel
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="lon != null">
        lon = #{lon,jdbcType=REAL},
      </if>
      <if test="lat != null">
        lat = #{lat,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xxxx.hotel.vo.Hotel">
    update hotel
    set name = #{name,jdbcType=VARCHAR},
      lon = #{lon,jdbcType=REAL},
      lat = #{lat,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectHotel" resultType="com.xxxx.hotel.vo.Hotel">
    select * from hotel
  </select>

</mapper>